@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$prymary: #181C25;
$secundary: #202631;
$clear: #EB4B3D;
$font: "Work Sans", sans-serif;


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $prymary;

    .container-fluid {
        .navbar-toggler {
            color: #fff;
            background-color: $clear;

            .navbar-toggler-icon {
                background-color: $clear;
            }
        }
    }
}

.navbar-nav {
    .nav-link {
        font-family: $font !important;
        color: $clear !important;

        &:hover {
            color: #fff !important;
        }
    }
}

.d-flex {
    .btn {
        font-family: $font;
        margin-left: 5px;
        background-color: $clear;
        color: #fff;
        border: #fff;

        &:hover {
            background-color: #fff !important;
            color: $clear;

        }
    }
}

body {
    background-color: $secundary !important;
}

main {
    color: $clear;
}

footer {
    background-color: $prymary;
    color: $clear;
    font-family: $font;

    .containar {
        .row {
            .col-md-4 {
                img {
                    width: 150px;
                }
            }
        }
    }
}

.card {
    background-color: $prymary;
    color: #fff;
    font-family: $font;

    h5 {
        color: $clear;
    }

    .card-body {
        .btn {
            font-family: $font;
            margin-left: 5px;
            background-color: $clear;
            color: #fff;
            border: #fff;
            border-radius: 40px;

            &:hover {
                background-color: #fff !important;
                color: $clear;

            }
        }
    }
}

.team-member{
    h5{
        font-family: $font;
    }
    p{
        color: #fff;
        font-family: $font;
    }
}