$prymary: #181C25;
$secundary: #202631;
$clear: #EB4B3D;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $prymary;
}

.navbar-nav {
    .nav-link {
        color: $clear !important;
        &:hover{
            color: #fff !important;
        }
    }
}